*{
    box-sizing: border-box;
    margin: 0;
}

body {
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    padding: 40px 0 0;
    text-align: center;
    background: linear-gradient(to left, #0f0,#f00);
}
h1 {
    font-size: 35px;
   margin-bottom: 30px;
}

h2 {
    font-size: 25px;
    margin: 20px 0
}
h3 {
    text-transform: none;
}

